# Packages & data

In [92]:
import pandas as pd
visits = pd.read_csv("visits.csv",parse_dates=[1])
cart = pd.read_csv("cart.csv",parse_dates=[1])
checkout=pd.read_csv("checkout.csv",parse_dates=[1])
purchase=pd.read_csv("purchases.csv",parse_dates=[1])

## Funnel for Cool T-Shirts Inc.

Inspecting the datas

In [93]:
print('----------------------Visit')
print(visits)

print('---------------------in Cart')
print(cart)

----------------------Visit
                                   user_id          visit_time
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

[2000 rows x 2 columns]
---------------------in Cart
                                  user_id           cart_time
0    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1    4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2    a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3    b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4    a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
..                                    ...                 ...
343  952be3a5-9240-484f-845c-a6b2cbed72ee 2017-05-02 05:40:00
344  59d2b685-383a-4fce-a325-35d985713a8b 2017-01-20 03:58:00
345  a1203970-92ae-4fc7-843e-e1740c1be9d5 2017-11-12 23:07:00
346  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 19:56:00
347  0ea4cc68-dae4-4e35-b3e0-f0889932e1b5 2017-05-12 08:53:00

[348 rows x 2 columns]

In [94]:

print('----------------------on checkout')
print(len(checkout))

print('----------------------on purchase')
print(len(purchase))

----------------------on checkout
360
----------------------on purchase
252

### Visits_to_cart

Combine visits and cart using a left merge.

In [95]:
visits_to_cart = pd.merge(visits,cart, how='left')

Number of col in this merged df

In [96]:
print(len(visits_to_cart))

2000

Number of null col

In [97]:
visits_to_cart_null= visits_to_cart[visits_to_cart['cart_time'].isnull()]
print(len(visits_to_cart_null))

1652

==> Percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart

In [98]:
visit_not_cart = len(visits_to_cart_null)/len(visits_to_cart) *100
print(visit_not_cart)

82.6

### Cart to checkout

Combine cart and vist using a left merge.

In [99]:
cart_to_checkout = pd.merge(cart,checkout, how='left')

Number of col in this merged df

In [100]:
print(len(cart_to_checkout))

482

Number of null col

In [101]:
cart_to_checkout_null= cart_to_checkout[cart_to_checkout['checkout_time'].isnull()]
print(len(cart_to_checkout_null))

122

==> Percent of users who put in product in cart but ended up not checkout a t-shirt

In [102]:
cart_not_checkout = round(len(cart_to_checkout_null)/len(cart_to_checkout) *100,2)
print(cart_not_checkout)

25.31

### Checkout to Purchase

Combine checkout and purchase using a left merge.

In [103]:
checkout_to_purchase = pd.merge(checkout,purchase,how='left')

Number of col in this merged df

In [104]:
print(len(checkout_to_purchase))

598

Number of null col

In [105]:
checkout_to_purchase_null= checkout_to_purchase[checkout_to_purchase['purchase_time'].isnull()]
print(len(checkout_to_purchase_null))

101

==> Percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart

In [106]:
checkout_not_purchase = round(len(checkout_to_purchase_null)/len(checkout_to_purchase) *100,2)
print(checkout_not_purchase)

16.89

### Merge all data

In [107]:
all_data = pd.merge(visits_to_cart,cart_to_checkout, how= "left").merge(checkout_to_purchase,how= "left")
print(all_data)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
2385  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2386  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2387  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2388  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2389  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time       checkout_time       purchase_time
0                    NaT                 NaT                 NaT
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2    2017-08-20 08:31:00                 NaT                 NaT
3                    NaT                 NaT                 NaT
4                    NaT                 NaT                 NaT
...                  ...                 ...                 ...
2385                 NaT                 NaT                 NaT
2386                 NaT                 NaT                 NaT
2387                 NaT                 NaT                 NaT
2388                 NaT                 NaT                 NaT
2389                 NaT                 NaT                 NaT

[2390 rows x 5 columns]

In [108]:
print('Percentage of users proceeded to put thing into cart : ', round(100-visit_not_cart,2))
print('Percentage of users proceeded to checkout : ', round(100-cart_not_checkout,2))
print('Percentage of users proceeded to purchase : ', round(100-checkout_not_purchase,2))

Percentage of users proceeded to put thing into cart :  17.4
Percentage of users proceeded to checkout :  74.69
Percentage of users proceeded to purchase :  83.11

In [111]:
all_data['total_time']=all_data['purchase_time']- all_data['visit_time']

0 days 00:43:58.718446601

Average time to purchase:

In [112]:
print(all_data['total_time'].mean())

0 days 00:43:58.718446601